In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("WeatherPy_vacation.csv")
city_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,12,Sorong,ID,77.95,overcast clouds,-0.88,131.25,The Waigo Hotel
1,15,Am Timan,TD,83.16,broken clouds,11.03,20.28,NaN
2,18,Saint George,US,87.80,clear sky,37.10,-113.58,Best Western Plus Abbey Inn
3,25,Bambous Virieux,MU,77.00,shower rain,-20.34,57.76,Casa Tia Villa
4,28,Maragheh,IR,80.60,few clouds,37.39,46.24,Maragheh Grand Hotel

In [3]:
# Creates a DataFrame for first city
hirado_df = city_data_df.loc[(city_data_df["City"] == "Hirado")]
hirado_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
72,300,Hirado,JP,77.0,broken clouds,33.36,129.55,Samson Hotel

In [4]:
# Creates a DataFrame for second city
nara_df = city_data_df.loc[(city_data_df["City"] == "Nara")]
nara_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
95,376,Nara,JP,80.6,broken clouds,34.69,135.8,Guesthouse Nara Komachi

In [5]:
# Creates a DataFrame for third city
shingu_df = city_data_df.loc[(city_data_df["City"] == "Shingu")]
shingu_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
141,478,Shingu,JP,77.0,broken clouds,33.73,135.98,Shingu UI Hotel

In [6]:
# Creates a DataFrame for fourth city
shimoda_df = city_data_df.loc[(city_data_df["City"] == "Shimoda")]
shimoda_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
26,111,Shimoda,JP,80.6,broken clouds,34.67,138.95,Shimoda Tokyu Hotel

In [38]:
hirado = (33.36, 129.55)
nara = (34.69, 135.8)
shingu = (33.73, 135.98)
shimoda = (34.67, 138.95)

fig = gmaps.figure()
hirado2shimoda = gmaps.directions_layer(
        hirado, shimoda, waypoints=[nara, shingu],
        travel_mode='DRIVING')
fig.add_layer(hirado2shimoda)
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
four_cities = [hirado_df,nara_df,shingu_df,shimoda_df]

In [15]:
four_cities_df = pd.concat(four_cities)
four_cities_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
72,300,Hirado,JP,77.0,broken clouds,33.36,129.55,Samson Hotel
95,376,Nara,JP,80.6,broken clouds,34.69,135.80,Guesthouse Nara Komachi
141,478,Shingu,JP,77.0,broken clouds,33.73,135.98,Shingu UI Hotel
26,111,Shimoda,JP,80.6,broken clouds,34.67,138.95,Shimoda Tokyu Hotel

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
cities_info = [info_box_template.format(**row) for index, row in four_cities_df.iterrows()]

In [27]:
# Add a pop-up marker for each city.
locations = four_cities_df[["Lat", "Lng"]]
max_temp = four_cities_df["Max Temp"]
fig = gmaps.figure(center=(35.0, 135.0), zoom_level=5.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=cities_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))